{% extends "admin/base_site.html" %}

{% block content %}

<p>Select tag to apply:</p>

<form action="" method="post">
     {% csrf_token %}

    {{ tag_form }}
    <input type="submit" name="apply" value="Send" />

    <p>This template will send to:</p>

    <ul>{{ emails|unordered_list }}</ul>

    <input type="hidden" name="action" value="send_email" />

</form>

{% endblock %}
